.example-container {
  //   width: 400px;
  height: 100%;
  margin: 10px;
}
.side-nav-bar {
  width: 240px;
  background: dodgerblue;
  border-radius: 10px;
  padding: 5px;
}
#main-content {
  width: calc(100% - 351px);
  margin-left: 251px !important;
  //   background: dodgerblue;
  border-radius: 10px;
  padding: 20px 50px;
}

mat-nav-list > a:hover {
  background: blue;
}
.mat-list-item {
  color: white !important;
  font-size: 18px;
  font-weight: bold;
}
